@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" ;
}
body {
  background: #1f242d;
  color: #fff;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 35px;
  color: #e2f536;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display: inline-block;  
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 3s ease forwards;
  animation-delay:calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active {
  color: rgb(210, 13, 217);
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 span {
  color: rgb(189, 21, 236);
}

.home-content p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-img img {
  max-width: 450px;
  margin-right:-20px ;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
  border-radius: 50%;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(189, 21, 236);
  border-radius: 50%;
  font-size: 25px;
  color: rgb(21, 236, 82);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.social-media a:hover {
  background: rgb(168, 236, 21);
  color: #1f242d;
  box-shadow: 0 0 20px rgb(168, 236, 21);
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background:rgb(189, 21, 236) ;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(189, 21, 236);
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}


@keyframes slideRight{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%
    {
        transform:translateY(100px);
        opacity: 0;
    }
    100%
    {
        transform:translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%
    {
        transform: translateY(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%
    {
        transform: translateX(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%
    {
        transform: scale(0);
        opacity: 0;
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
    0%
    {
        transform: translateY(0);
        
    }
    50%
    {
        transform: translateY(-24px);
        
    }
    100%
    {
        transform: translateY(0);
        
    }
   
}
